# === bimbim.click ===

# -- Frontend
bimbim.click {
  reverse_proxy 10.8.0.2:52004
}

# -- Backend
api.bimbim.click {
  reverse_proxy 10.8.0.2:52005
}

# -- Database
db.bimbim.click {
  reverse_proxy 10.8.0.2:52006
}

# === eday.trelta.dev ===

# -- Frontend
eday.trelta.dev {
  reverse_proxy 10.8.0.2:52001
}

# -- Backend
api.eday.trelta.dev {
  reverse_proxy 10.8.0.2:52002
}

# -- Database
db.eday.trelta.dev {
  reverse_proxy 10.8.0.2:52003
}

# === discover-u ===
discover-u.trelta.dev {
  reverse_proxy 10.8.0.2:52007
}

api.discover-u.trelta.dev {
  reverse_proxy 10.8.0.2:52008
}
