{
  log {
    level INFO
  }

  layer4 {


    # spigot.trelta.dev GAME PORT
    :25565 {
      route {
        proxy 10.8.0.2:25565
      }
    }

    # spigot.trelta.dev RCON PORT
    :25575 {
      route {
        proxy 10.8.0.2:25575
      }
    }

    # atm.trelta.dev GAME PORT
    :25585 {
      route {
        proxy 10.8.0.2:25585
      }
    }

    # atm.trelta.dev RCON PORT
    :25595 {
      route {
        proxy 10.8.0.2:25595
      }
    }
  }
}


# Subdomain + Domains
*.trelta.dev {
  reverse_proxy 10.8.0.2
}

trelta.dev {
  reverse_proxy 10.8.0.2
}