{
  log {
    level INFO
  }

  layer4 {


    # Minecraft Port Forward
    :25565 {
      route {
        proxy 10.8.0.2:15565
      }
    }
  }
}


# Subdomain + Domains
*.trelta.dev {
  reverse_proxy 10.8.0.2
}

trelta.dev {
  reverse_proxy 10.8.0.2
}