# === bimbim.click ===

# -- Frontend
bimbim.click {
  reverse_proxy localhost:52004
}

# -- Backend
api.bimbim.click {
  reverse_proxy localhost:52005
}

# -- Database
db.bimbim.click {
  reverse_proxy localhost:52006
}

# === eday.trelta.dev ===

# -- Frontend
eday.trelta.dev {
  reverse_proxy localhost:52001
}

# -- Backend
api.eday.trelta.dev {
  reverse_proxy localhost:52002
}

# -- Database
db.eday.trelta.dev {
  reverse_proxy localhost:52003
}
