{
  log {
    level INFO
  }

  layer4 {

    # paper.* Command Forward
    :25575 {
      route {
        proxy 10.8.0.2:25575
      }
    }

    # atm.* Command Forward
    :25595 {
      route {
        proxy 10.8.0.2:25595
      }
    }
  }
}

# === bimbim.click ===
bimbim.click {
  reverse_proxy 10.8.0.2
}

*.bimbim.click {
  reverse_proxy 10.8.0.2
}

# === trelta.dev ===
*.trelta.dev {
  reverse_proxy 10.8.0.2
}

trelta.dev {
  reverse_proxy 10.8.0.2
}