{
  log {
    level INFO
  }

  layer4 {

    # paper.* Command Forward
    :25575 {
      route {
        proxy 10.8.0.2:25575
      }
    }

    # atm.* Command Forward
    :25595 {
      route {
        proxy 10.8.0.2:25595
      }
    }

    # Mongo Database
    :52010 {
      route {
        proxy 10.8.0.2:52010
      }
    }
  }
}

# === bimbim.click ===

# -- Frontend
bimbim.click {
  reverse_proxy 10.8.0.2:52004
}

# -- Backend
api.bimbim.click {
  reverse_proxy 10.8.0.2:52005
}

# -- Database
db.bimbim.click {
  reverse_proxy 10.8.0.2:52006
}

# === eday.trelta.dev ===

# -- Frontend
eday.trelta.dev {
  reverse_proxy 10.8.0.2:52001
}

# -- Backend
api.eday.trelta.dev {
  reverse_proxy 10.8.0.2:52002
}

# -- Database
db.eday.trelta.dev {
  reverse_proxy 10.8.0.2:52003
}